:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: white;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & > body {
    margin: 0;

    & > main {
      width: 100svw;
      height: 100svh;
      display: grid;
      grid-template-rows: auto 1fr;

      & > button {
        padding: 2em;
        font-size: xx-large;
      }

      & > canvas {
        grid-row: 2;
        grid-column: 1;

        &#overlayCanvas {
          filter: blur(2px);
        }
      }

      & > section {
        padding: 1em;
        display: flex;
        gap: 1em;
        justify-content: space-evenly;
      }
    }
  }
}
